.hidden {
    display: none !important;
}

.login-main {
    background-image: linear-gradient(to bottom right, #1EFFBC, #20494F);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.login-backIcon {
    position: absolute;
    right: 20px;
    top: 20px;
}

.signup-messageHeader {
    font-family: 'latobold';
    color: #20494F;
    font-size:  15px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.signup-messageError {
    font-family: 'latoregular';
    color: red;
    font-size:  15px;
    margin-top: 25px;
    margin-bottom: 0px;
}

.login-formContainer {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
}
    .login-title {
        font-family: 'asapregular';
        font-size:  25px;
        color: #2B6462;
        line-height: 0px;
    }
    .login-ruler{
        margin: -10px auto -5px auto;
        width: 120px;
        border-top: 1px solid #1F2F16;
    }
    .login-subtitle {
        font-family: 'latoitalic';
        font-size:  18px;
        color: #68D89B;
        line-height: 0px;
        margin-bottom: 50px;
    }


    .login-input {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        width: 250px;
    }
    
    .login-label {
        font-family: 'latobold';
        color: #48A9A6;
        font-size: 18px;
    }
    
    .form-control {
        width: 130px;
        border: none;
        border-radius: 1px;
    }
    
    .login-submit {
        margin-top: 20px;
        
    }
    .login-button {
        font-family: 'latoblack';
        width: 250px;
        font-size: 15px;
        background-color: #2B6462;
        color: white;
        border: none;
        text-decoration: none;
    }


.login-signUp {
    font-family: 'asapregular';
    font-size:  12px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-decoration: underline;
}
